

body {
  margin: 0;
  font: 1em/1.4 Sans-serif;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1452723312111-3a7d0db0e024?w=700") center/cover;
  background-attachment: fixed;
}
